<div class="container">
    <div class=" user ">
        <div class="container m-0 p-0 mecl ">
            <div id="app">

                <a class="btn btn-dark my-2 my-sm-0" style="float: right;" href="/users/logout">Logout</a>
                <h1>Whatsapp API</h1>
                <p>Powered by AlgoSales</p>
                <div class="form-container">
                    <label for="client-id">ID</label><br>
                    <input type="text" id="client-id" placeholder="Person ID" required>
                    <br><br>
                    <label for="client-description">Description</label><br>
                    <textarea rows="3" id="client-description" placeholder="Type Description" required></textarea>
                    <br><br>
                    <button class="add-client-btn">Add Client</button>
                </div>
                <hr>
                <div class="client-container">
                    <div class="client hide">
                        <h3 class="title"></h3>
                        <p class="description"></p>
                        <img src="" alt="QR Code" class="qrimage" id="qrcode">
                        <h3>Logs:</h3>
                        <ul class="logs"></ul>
                    </div>
                </div>

                <a class="btn btn-dark my-2 my-sm-0" href="/send-message">Send Message</a>
                <a class="btn btn-dark my-2 my-sm-0" href="/send-media">Send Media</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
    $(document).ready(function() {
        var socket = io();

        // Ketika button tambah diklik
        $('.add-client-btn').click(function() {
            // window.location.reload();
            var clientId = $('#client-id').val();
            var clientDescription = $('#client-description').val();
            var clientUsername = <%- JSON.stringify(user.username) %>;
            clientId = clientId + '-' + clientUsername;
            var template = $('.client').first().clone()
                .removeClass('hide')
                .addClass(clientId);
            var cId = clientId.replace('-' + clientUsername, '');
            template.find('.title').html(cId);
            var newid = "qrcode" + String(clientId)
            template.find('.qrimage').attr("id", newid);
            template.find('.description').html(clientDescription);
            socket.emit('create-session', {
                id: clientId,
                description: clientDescription,
                username: clientUsername
            });
            socket.on('add-template', function() {
                $('.client-container').append(template);
            });
            socket.on('already-there', function(id) {
                alert("ID already there!");
            });
        });

        socket.on('init', function(data) {
            $('.client-container .client').not(':first').remove();
            console.log(data);
            for (var i = 0; i < data.length; i++) {
                var session = data[i];

                var clientId = session.id;
                var clientDescription = session.description;
                var clientUsername = session.username;
                var uname = <%- JSON.stringify(user.username) %>;
                console.log(uname + " " + clientUsername);
                if (clientUsername !== uname) continue;
                //if (session.ready === false) continue;
                var template = $('.client').first().clone()
                    .removeClass('hide')
                    .addClass(clientId);
                var cId = clientId.replace('-' + clientUsername, '');
                template.find('.title').html(cId);
                var newid = "qrcode" + String(clientId)
                template.find('.qrimage').attr("id", newid);
                template.find('.description').html(clientDescription);
                $('.client-container').append(template);
                socket.on('add-template', function() {

                });
                if (session.ready) {
                    $(`.client.${session.id} .logs`).append($('<li>').text('Whatsapp is ready!'));
                } else {
                    $(`.client.${session.id} .logs`).append($('<li>').text('Connecting...'));
                }
            }
        });

        socket.on('remove-session', function(id) {
            $(`.client.${id}`).remove();
        });

        socket.on('message', function(data) {
            $(`.client.${data.id} .logs`).append($('<li>').text(data.text));
        });

        socket.on('qr', function(data) {
            console.log("data is", data.src)
            var classname = "client " + String(data.id)
                // document.getElementsByClassName(classname)[0].getElementById("qrcode").src = data.src;
            var id = "qrcode" + String(data.id)
            var jqueryid = "#qrcode" + String(data.id)
                // $('')
            document.getElementById(id).src = data.src
                // $(`.client.${data.id} #qrcode`).attr('src',data.src);
            $(jqueryid).show();
        });

        socket.on('ready', function(data) {
            console.log("ready is")
            var jqueryid = "#qrcode" + String(data.id);
            // $(`.client.${data.id} #qrcode`).hide();
            $(jqueryid).hide();
        });

        socket.on('authenticated', function(data) {
            console.log("authenticated is")
                // $(`.client.${data.id} #qrcode`).hide();
            var jqueryid = "#qrcode" + String(data.id);
            $(jqueryid).hide();
        });
    });
</script>